<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>422 Error</title>

    <!-- Bootstrap Style-->
    <link href="../static/css/bootstrap-5.3.3.min.css" rel="stylesheet">

    <link href="../static/css/styles.min.css" rel="stylesheet"/>
    <link href="../static/css/custom.min.css" rel="stylesheet"/>


</head>
<body>
<div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mt-4">
                            <h1 class="display-1">422</h1>
                            <p class="lead">Unprocessable Content</p>
                            <p>{{ error.detail }}</p>
                            <p>{{ error.body }}</p>
                            <a href="javascript:history.back()"
                               class="btn btn-primary" role="button">
                                Go back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

</body>
</html>
