{% extends "base.html" %}

{% block content %}
{% if isAdminRole %}
<div class="container-fluid px-4">
        
    <div class="modal fade" tabindex="-1" role="dialog" id="restoreModal" style="height:200px;" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered text-center bg-white" style="height:200px;" role="document">
            Upload in progress, please wait.<br/><br/>
            <br/><br/>Page will reload after successfully restoring the backup...
            <span class="fa fa-spinner fa-spin fa-3x w-100"></span>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <h4 class="mt-3 mb-1">
                Administration - Export / Import
            </h4>
            <div id="returnBackupMsgContainer"></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <button type="button" id="downloadBackupBtn" class="btn btn-primary"><i class="fa-solid fa-download"></i> Download Export</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            
            <form method="post" id="restoreBackupForm" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="backupFile" class="form-label fw-bold">Import</label>
                    <input class="form-control" type="file" id="backupFile" name="file" accept=".json" required>
                </div>
                <button type="submit" id="restoreBackupBtn" class="btn btn-primary"><i class="fa-solid fa-upload"></i> Import</button>
            </form>
        </div>
    </div>
    <!-- Toast messages sent from FastAPI backend-->
    {% for message in get_flashed_messages(request) %}
    <script>
        showToastMessage('{{ message.category }}', '{{ message.message|safe }}') // use |safe in case of newline \n in string
    </script>
    {% endfor %}
</div>

{% endif %}
{% endblock %}
